.c-item {
	height: 480px;
}

.c-img {
	height: 100%;
	object-fit: cover;
	object-position: center;
	filter: brightness(0.4)
}

.c-item-special {
	height: 480px;
}

.c-img-special {
	height: 100%;
	object-fit: cover;
	filter: brightness(0.5)
}
