<!DOCTYPE html>
<html>
	<head>
		<title>
			Application Page - General Strategy
		</title>
		<!-- <link rel="stylesheet" href="direction.css"> -->
		<!-- <link rel="stylesheet" href="result.css"> -->
		<!-- <link rel="stylesheet" href="perspective.css"> -->
		<link rel="stylesheet" href="app.css">
	</head>
	<body>
		<div class="directoin-container">
			<div class="direction">
				<div class="direction-name">
					Strategic Direction #1
				</div>
				<div class="direction-definition">
					This is the definition of Strategic Direction #1
				</div>
			</div>
			<div class="direction">
				<div class="direction-name">
					Strategic Direction #2
				</div>
				<div class="direction-definition">
					This is the definition of Strategic Direction #2.
				</div>
			</div>
			<div class="direction">
				<div class="direction-name">
					Strategic Direction #3
				</div>
				<div class="direction-definition">
					This is the definition of Strategic Direction #3.
				</div>
			</div>
		</div>
		<div class="result-container">
			<div class="result">
				<div class="result-name">
					Strategic Direction #1
				</div>
				<div class="result-definition">
					This is the strategic results expected for the current strategic direction #1.
				</div>
			</div>
			<div class="result">
				<div class="result-name">
					Strategic Direction #2
				</div>
				<div class="result-definition">
					This is the strategic results expected for the current strategic direction #2.
				</div>
			</div>
			<div class="result">
				<div class="result-name">
					Strategic Direction #3
				</div>
				<div class="result-definition">
					This is the strategic results expected for the current strategic direction #3.
				</div>
			</div>		</div>
		<div class="perspective-container">
			<div class="perspective">
				<div class="perspective-name">
					Capacity Building
				</div>
				<div class="perspective-pool">
					<div class="goal">
						Goal #1 for Capacity Building Perspective.
					</div>
					<div class="goal">
						Goal #2 for Capacity Building Perspective.
					</div>
					<div class="goal">
						Goal #3 for Capacity Building Perspective.
					</div>
					<div class="goal">
						Goal #4 for Capacity Building Perspective.
					</div>
					<div class="goal">
						Goal #5 for Capacity Building Perspective.
					</div>
					<div class="goal">
						Goal #6 for Capacity Building Perspective.
					</div>
				</div>
			</div>
			<div class="perspective">
				<div class="perspective-name">
					Internal Business Process
				</div>
				<div class="perspective-pool">
					<div class="goal">
						Goal #1 for Internal Business Process Perspective.
					</div>
					<div class="goal">
						Goal #2 for Internal Business Process Perspective.
					</div>
					<div class="goal">
						Goal #3 for Internal Business Process Perspective.
					</div>
					<div class="goal">
						Goal #4 for Internal Business Process Perspective.
					</div>
					<div class="goal">
						Goal #5 for Internal Business Process Perspective.
					</div>
					<div class="goal">
						Goal #6 for Internal Business Process Perspective.
					</div>
				</div>
			</div>
			<div class="perspective">
				<div class="perspective-name">
					Customers and Stakeholders
				</div>
				<div class="perspective-pool">
					<div class="goal">
						Goal #1 for Customers and Stakeholders Perspective.
					</div>
					<div class="goal">
						Goal #2 for Customers and Stakeholders Perspective.
					</div>
					<div class="goal">
						Goal #3 for Customers and Stakeholders Perspective.
					</div>
					<div class="goal">
						Goal #4 for Customers and Stakeholders Perspective.
					</div>
					<div class="goal">
						Goal #5 for Customers and Stakeholders Perspective.
					</div>
					<div class="goal">
						Goal #6 for Customers and Stakeholders Perspective.
					</div>
				</div>
			</div>
			<div class="perspective">
				<div class="perspective-name">
					Financial
				</div>
				<div class="perspective-pool">
					<div class="goal">
						Goal #1 for Financial Perspective.
					</div>
					<div class="goal">
						Goal #2 for Financial Perspective.
					</div>
					<div class="goal">
						Goal #3 for Financial Perspective.
					</div>
					<div class="goal">
						Goal #4 for Financial Perspective.
					</div>
					<div class="goal">
						Goal #5 for Financial Perspective.
					</div>
					<div class="goal">
						Goal #6 for Financial Perspective.
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
