/* START OF RESTULT COMPONENT */
/* -------------------------- */
.result-container {
	margin-top: 20px;
	border: none;
	border-radius: 4px 4px 0px 0px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
	width: 200px;
	display: grid;
	grid-template-columns: 200px 500px;
}

.result-name,
.result-definition {
	display: inline-block;
	border: 1px;
	border-style: solid;
	vertical-align: center;
}

.result-name {
	border-radius: 4px 0px 0px 4px;
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
}

.result-definition {
	border-radius: 0px 4px 4px 0px;
	border-left: 0px;
	padding: 10px;
}
/* END OF RESTULT COMPONENT */
/* ------------------------ */
